body {
  background-color: #e1e5e7;
  margin: 0;
}
nav {
  background-color: #08275a;
  color: white;
}
.open-navmenu {
  height: 450px;
  transition: 0.5s all;
}
.close-navmenu {
  height: 0;
  transition: 0.5s all;
}
.open-nav-submenu {
  height: 70px;
  transition: 0.5s all;
}
.close-nav-submenu {
  height: 0;
  transition: 0.5s all;
}

header,
main,
footer {
  background-color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
